# --- Django & Web Server ---
Django==5.1.4
gunicorn                # রেন্ডারে প্রোডাকশন সার্ভার চালানোর জন্য

# --- API & Security ---
djangorestframework==3.15.2
django-cors-headers==4.6.0
djangorestframework_simplejwt==5.4.0   #যদি ফিউচারে টোকেন লগইন যোগ করেন
PyJWT==2.10.1

# --- Database (PostgreSQL for Render) ---
psycopg2-binary==2.9.9
dj-database-url==3.1.2

# --- Environment & Utils ---
python-decouple==3.8    # সিক্রেট কি বা ডাটাবেস ইউআরএল ম্যানেজ করার জন্য
python-dotenv==1.1.0
requests==2.32.3
pytz==2024.2

# --- Forms & UI (Admin/Web) ---
django-crispy-forms==2.3
crispy-bootstrap4==2024.10
